<div class="container">
  <h3 class="text-center mt-5">Pertanyaan yang sering ditanyakan</h3>
  <div class="m-5 border border-2 p-5">
    <p>Pertanyaan umum</p>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question1"
        role="button"
      >
        Siapa itu Fun Tav?
      </div>
      <div class="collapse multi-collapse" id="question1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question2"
        role="button"
      >
        Mengapa harus booking melalui funtav.com?
      </div>
      <div class="collapse multi-collapse" id="question2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <div class="mb-4">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question3"
        role="button"
      >
        Produk apa saja yang disediakan di funtav.com
      </div>
      <div class="collapse multi-collapse" id="question3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <p>Pertanyaan terkait Tour & Travel</p>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question4"
        role="button"
      >
        Apakah biaya tour di funtav sudah net?
      </div>
      <div class="collapse multi-collapse" id="question4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question5"
        role="button"
      >
        Mengapa tidak ada nama hotel di dalam itinerary?
      </div>
      <div class="collapse multi-collapse" id="question5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question6"
        role="button"
      >
        Mengapa tidak ada jadwal penerbangan di dalam itinerary?
      </div>
      <div class="collapse multi-collapse" id="question6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question7"
        role="button"
      >
        Apakah bisa extend atau memperpanjang lama liburan?
      </div>
      <div class="collapse multi-collapse" id="question7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question8"
        role="button"
      >
        Apakah tour bisa berangkat dari kota lain selain Jakarta?
      </div>
      <div class="collapse multi-collapse" id="question8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
    <div class="mb-2">
      <div
        class="bg-dark text-light p-2"
        data-bs-toggle="collapse"
        data-bs-target="#question9"
        role="button"
      >
        Apabila tidak ada tanggal yang cocok dengan rencana liburan, apakah bisa
        dibuatkan tanggal yang diinginkan?
      </div>
      <div class="collapse multi-collapse" id="question9">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta
        eius sunt ab fuga ex optio sequi rem velit illo, commodi neque id
        ducimus minima at quam quibusdam voluptatem. Dolorum eligendi, quas
        explicabo perferendis eius quibusdam similique laborum corporis veniam?
      </div>
    </div>
  </div>
</div>
