<div class="container">
  <h3 class="text-center my-5">Informasi Pribadi yang Terkumpul</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima at adipisci
    reprehenderit repellendus voluptas, veritatis possimus. Nemo distinctio odio
    at temporibus veniam omnis nesciunt saepe vel iusto nulla nostrum, veritatis
    iste reprehenderit cumque numquam suscipit aliquam qui in aspernatur
    ratione, quae facilis! Sunt cupiditate vitae commodi nemo neque deserunt
    enim?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi expedita
    deleniti necessitatibus, placeat eius laudantium culpa est cum explicabo
    suscipit soluta debitis sunt facere dolorum. Quod dolorum temporibus
    assumenda fugiat!
  </p>
  <p class="fw-bold">Penggunaan Data Pribadi</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
    laborum maiores, nobis atque nesciunt voluptates autem sunt. Nam impedit
    tempora vel animi. Voluptates recusandae dolore natus hic voluptatibus,
    minima quos.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi in excepturi
    a iure numquam provident quis atque itaque, necessitatibus, mollitia
    ducimus? Odit reprehenderit porro quos similique molestias necessitatibus
    labore beatae totam numquam optio quis aperiam fugit quam, amet qui
    temporibus.
  </p>
  <p class="fw-bold">Keanggotaan</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reprehenderit
    laudantium quia optio incidunt provident nulla, pariatur nobis unde quis
    soluta placeat odit, dicta culpa sint suscipit! Quisquam eius dolore
    voluptate omnis, perferendis explicabo minus corporis aspernatur, a,
    accusamus eos!
  </p>
  <p class="fw-bold">Bagaimana Anda dapat Mengakses Informasi Anda</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus corrupti ad
    sapiente fuga culpa vitae inventore, magni molestiae fugit soluta corporis
    id, dicta temporibus? Quidem voluptate obcaecati neque corporis similique.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo rem
    deleniti atque exercitationem consequatur, molestias reiciendis tempore est
    nisi cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio cumque
    consequatur facilis. Eveniet eum esse facere, incidunt nemo laborum fugiat
    possimus delectus nostrum vitae inventore numquam soluta, expedita,
    reiciendis consequatur quasi praesentium? Eius vitae quidem, dignissimos
    similique pariatur maxime tenetur laborum eligendi esse molestiae
    praesentium quis? Eveniet, accusantium earum!
  </p>
  <p class="fw-bold">Melindungi Data Pribadi Anda</p>
  <p>...</p>
</div>
