<h1 class="my-5 text-center">Expired!</h1>
<h3 class="my-5 text-center">Masa aktivasi akun kamu sudah expired.</h3>
<h2 class="text-center">Kirim ulang link aktivasi ke email kamu?</h2>
<form action="/user/reactivate" method="POST" class="text-center">
  <button type="submit" class="btn btn-success">Kirim Ulang</button>
</form>
