<div class="bg-login-register">
  <div class="container">
    <div class="row text-light align-items-center">
      <div class="col-md-5 col-auto bg-dark p-5 bg-opacity-50">
        <form action="/user/daftar" method="POST">
          <p class="text-light mb-5 lead">Gabung jadi member Fun Tav</p>
          <div class="mb-3">
            <input type="email" class="form-control" name="email"
            placeholder="Email" required <% if (typeof form !== "undefined") {
            %> value="<%=form.email%>" <% } %> />
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="Password"
              required
              maxlength="50"
            />
            <button type="button" class="btn badge" id="btn_password">
              show
            </button>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              name="confirm_password"
              id="confirm_password"
              placeholder="Confirm password"
              required
              maxlength="50"
            />
            <button type="button" class="btn badge" id="btn_confirm">
              show
            </button>
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              name="newsletter"
              checked
            />
            <label class="form-check-label text-light" for="exampleCheck1"
              ><small>Berlangganan info dan promo menarik</small></label
            >
          </div>
          <p class="mt-5 text-light lh-1">
            <small
              >Dengan melakukan pendaftaran akun di Fun Tav, anda telah membaca
              dan menyetujui
              <a href="/page/syarat_ketentuan" class="text-light"
                >Syarat & Ketentuan</a
              >
              &
              <a href="/page/kebijakan_privasi" class="text-light"
                >Kebijakan privasi</a
              >.</small
            >
          </p>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Daftar</button>
          </div>
        </form>
        <div class="mt-3">
          Sudah terdaftar? <a class="text-light" href="/user/masuk">Masuk</a>
        </div>
      </div>
      <div class="col-md-7 col-auto ps-5 d-none d-md-block">
        <p class="fs-1 fw-bold">Fun Tav Tour & Travel</p>
        <p class="fs-3 fw-light">Gateway to great destination</p>
      </div>
    </div>
  </div>
</div>
