<img class="img-fluid w-100" src="../images/bg/tentang_kami.jpg" alt="..." />

<div class="container text-center my-5">
  <h2 class="mb-5">Tentang Fun Tav Tour & Traveling</h2>
  <p class="mx-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque possimus nam
    laborum excepturi nisi ratione quibusdam asperiores assumenda beatae maiores
    consequuntur veniam minus cum nobis, odit nemo ea accusamus delectus iure
    incidunt. Qui unde repellendus repellat ullam inventore sit, vitae quos
    corrupti ad eveniet saepe ut! Facere omnis esse officia?
  </p>
  <h4 class="text-center mb-3 mt-5">
    <strong>Mengapa memilih Funtav Tour & Travel?</strong>
  </h4>
  <div class="row mb-5">
    <div class="col-auto col-lg-4 col-sm-6">
      <div class="card mb-3">
        <img
          src="../images/destination/west_europe.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <h5>24/7 access</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        facilis saepe? Facilis nulla laborum animi placeat voluptate dolorem
        numquam, cum aut repellendus delectus sapiente soluta deleniti explicabo
        harum aliquam? Laudantium!
      </p>
    </div>
    <div class="col-auto col-lg-4 col-sm-6">
      <div class="card mb-3">
        <img
          src="../images/destination/west_europe.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <h5>Manajemen Perencana</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        ratione nostrum quaerat laborum, in unde corporis explicabo blanditiis
        nesciunt iste dolorum provident? Quaerat accusantium labore aliquam
        ipsam incidunt fugiat saepe?
      </p>
    </div>
    <div class="col-auto col-lg-4 col-sm-6">
      <div class="card mb-3">
        <img
          src="../images/destination/west_europe.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <h5>Manajemen Perjalanan Bisnis</h5>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
        corporis deleniti assumenda repellendus sapiente nulla nemo aliquid
        deserunt tempore similique! Quis facere incidunt dolore ex error fugiat
        vero beatae placeat.
      </p>
    </div>
    <div class="col-auto col-lg-4 col-sm-6">
      <div class="card mb-3">
        <img
          src="../images/destination/west_europe.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <h5>Meningkatkan Produktivitas</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit,
        obcaecati doloribus. Hic consequuntur quisquam ratione dolorum?
        Perspiciatis fugiat, commodi, dignissimos totam vel quos magnam, aperiam
        inventore porro sint quibusdam eligendi!
      </p>
    </div>
    <div class="col-auto col-lg-4 col-sm-6">
      <div class="card mb-3">
        <img
          src="../images/destination/west_europe.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <h5>Travel Policy</h5>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
        excepturi dicta neque necessitatibus quo! Reiciendis officiis possimus
        cupiditate minima dolores! Similique, odio. Quod iusto dolorum
        voluptatibus commodi, consequuntur ad beatae.
      </p>
    </div>
    <div class="col-auto col-lg-4 col-sm-6">
      <div class="card mb-3">
        <img
          src="../images/destination/west_europe.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <h5>Pelayanan Superaktif</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quam
        accusantium, fuga, voluptates reprehenderit aut eligendi fugiat illum
        voluptatum illo quis explicabo! Consectetur fugiat nisi nam maiores
        eaque quod porro!
      </p>
    </div>
  </div>
</div>
