<footer class="bg-dark text-white position-relative p-5">
  <div class="container">
    <div class="row g-5 justify-content-between">
      <div class="col-sm-4 col-auto">
        <p class="fw-bold">PT. Fun Tav Mantap</p>
        <p>jl. AMD XII Makasar Jakarta Timur, Indonesia</p>
        <i class="fas fa-phone"></i>
        <span>(021) 1234 45678</span><br />
        <i class="fas fa-phone"></i>
        <span>(021) 1234 45678</span><br />
        <i class="fas fa-phone"></i>
        <span>(021) 1234 45678</span><br />
      </div>
      <div class="col-sm-4 col-auto">
        <p class="fw-bold">Office Hours</p>
        <span>Senin - Jum'at : 08.45 - 16.45</span><br />
        <span>Sabtu : 09.00 - 14.00</span><br />
        <span>Minggu & Hari libur : Tutup</span><br />
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="d-flex col-auto">
        <a class="nav-link text-light" href="/page/tentang_kami"
          ><small>Tentang Kami</small></a
        >
        <a class="nav-link text-light" href="/page/syarat_ketentuan"
          ><small>Syarat dan Ketentuan</small></a
        >
        <a class="nav-link text-light" href="/page/kebijakan_privasi"
          ><small>Kebijakan dan Privasi</small></a
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex col-auto">
        <a class="nav-link text-light" href="/page/tanggapan"
          ><small>Kirim Tanggapan</small></a
        >
        <a class="nav-link text-light" href="/page/faq"><small>FAQ</small></a>
      </div>
    </div>
    <a href="#" class="position-absolute bottom-0 end-0 p-5">
      <i class="fas fa-arrow-circle-up fa-2x"></i>
    </a>
  </div>
</footer>
