<% if (success.length > 0) { %>
<div
  class="toast-container position-fixed mt-5 top-0 end-0 p-3"
  style="z-index: 11"
>
  <% success.forEach(element => { %>
  <div class="toast text-white bg-success show" role="alert">
    <div class="d-flex align-items-center">
      <div class="toast-body">
        <i class="fas fa-check-circle"></i> <%= element %>
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
      ></button>
    </div>
  </div>
  <% }) %>
</div>
<% } %> <% if (error.length > 0) { %>
<div
  class="toast-container position-fixed mt-5 top-0 end-0 p-3"
  style="z-index: 11"
>
  <% error.forEach(element => { %>
  <div class="toast text-white bg-danger show" role="alert">
    <div class="d-flex align-items-center">
      <div class="toast-body">
        <i class="fas fa-exclamation-circle"></i> <%= element %>
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
      ></button>
    </div>
  </div>
  <% }) %>
</div>
<% } %> <% if (warning.length > 0) { %>
<div
  class="toast-container position-fixed mt-5 top-0 end-0 p-3"
  style="z-index: 11"
>
  <% warning.forEach(element => { %>
  <div class="toast bg-warning show" role="alert">
    <div class="d-flex align-items-center">
      <div class="toast-body">
        <i class="fas fa-exclamation"></i> <%= element %>
      </div>
      <button
        type="button"
        class="btn-close me-2 m-auto"
        data-bs-dismiss="toast"
      ></button>
    </div>
  </div>
  <% }) %>
</div>
<% } %> <% if (typeof validations !== "undefined") { %>
<div
  class="toast-container position-fixed mt-5 top-0 end-0 p-3"
  style="z-index: 11"
>
  <% validations.forEach(element => { %>
  <div class="toast bg-warning show" role="alert">
    <div class="d-flex align-items-center">
      <div class="toast-body">
        <i class="fas fa-check-circle"></i> <%= element.msg %>
      </div>
      <button
        type="button"
        class="btn-close me-2 m-auto"
        data-bs-dismiss="toast"
      ></button>
    </div>
  </div>
  <% }) %>
</div>
<% } %>
