<h1 class="my-5 text-center">Expired!</h1>
<h3 class="my-5 text-center">Your account activation has been expired.</h3>
<h2 class="text-center">Resend the activation link to your email?</h2>
<form action="/reactivate" method="POST" class="text-center">
  <button type="submit" class="btn btn-success">Resend</button>
</form>
