<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Tes</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-3">
            <img id="cvrImg" class="rounded" height="200" width="150" />
          </div>
          <div class="col">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Name:</td>
                  <td><span id="tname"></span></td>
                </tr>
                <tr>
                  <td>Stock:</td>
                  <td><span id="tstock"></span></td>
                </tr>
                <tr>
                  <td>Created By:</td>
                  <td><span id="tcrtb"></span></td>
                </tr>
                <tr>
                  <td>Modified By:</td>
                  <td><span id="tmdfb"></span></td>
                </tr>
                <tr>
                  <td>Created At:</td>
                  <td><span id="tcrta"></span></td>
                </tr>
                <tr>
                  <td>Updated At:</td>
                  <td><span id="tupda"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a id="btnEdit" class="btn btn-success">Edit</a>
      </div>
    </div>
  </div>
</div>
