<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- internal style -->
    <link rel="stylesheet" href="../style/login.css" />

    <title>Funtav</title>
  </head>

  <body>
    <!-- flash message toast -->
    <%- include('../partials/messages.ejs') %>

    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- body -->
    <%- body %>

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>

    <!-- internal script -->
    <script>
      $(document).ready(function (event) {
        $("#btn_password").click(function () {
          const type = $("#password").attr("type");
          if (type === "password") {
            $("#password").attr({ type: "text" });
          } else {
            $("#password").attr({ type: "password" });
          }
        });

        $("#btn_confirm").click(function () {
          const type = $("#confirm_password").attr("type");
          if (type === "password") {
            $("#confirm_password").attr({ type: "text" });
          } else {
            $("#confirm_password").attr({ type: "password" });
          }
        });
      });
    </script>
  </body>
</html>
